<style>
	.header {color:#000000;font-weight:300;text-align:center;}
	#cta {position:fixed;bottom:-20px;left:10px;right:10px;}
</style>
<ion-view view-title="#here4U">
    <ion-content padding="true" scroll="false" has-header>
        <div style="text-align:center;">
        	<!--
            <img src="img/banner-home.png" width="100%" height="auto">
             -->
             <br /><br />
             			 
             <br /><br />
             <img src="img/logo_small.png" />

            <h2 class="header-centered">Need To Talk?</h2>
            
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                irure dolor in."</p>
                
            <br /><br />
        </div>
        <div class="list card" id="cta">
            <div class="item item-body" style="background-color:#DDDDDD;">
                <form class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="What should I call you?">
                    </label>
                    <a href="#/app/chat" id="btn-start-chat" class="button button-positive  button-block">Start Chatting</a>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
