<ion-view id="faq" view-title="TextLab FAQ"> 
    <ion-content padding="true" scroll="true" has-header>
        <h3>What is this?</h3>
        <p>TextLab is a virtual communication coach. Type or paste a message (preferably before you send it), and TextLab will let you know 
            how it will be likely perceived by the recipient. You can also use TextLab to analyze messages sent to you. In this way you can 
            analyze the quality of your interactions (soon to be automated).</p>
        
        <h3>How do I set the context?</h3>
        <p>Tap the link, then choose Business or Personal.</p>

        
        <h3>When do the rest of the features launch?</h3>
        <p>February 1st, 2017 @ SF New Tech. Link to the event coming shortly.</p>

  </ion-content>
</ion-view>                   