<ons-page id="newTaskPage">
  <ons-toolbar>
    <div class="left"><ons-back-button>Back</ons-back-button></div>
    <div class="center">Analyze Message</div>
    <div class="right">
        <!-- 
      <ons-if platform="android">
        <ons-toolbar-button component="button/save-task">
          <ons-icon icon="md-save"></ons-icon>
        </ons-toolbar-button>
      </ons-if>
      -->
    </div>
  </ons-toolbar>



    <textarea class="textarea textarea--transparent" placeholder="Message" style="padding:10px; width: 100%; height: 300px;"></textarea>
    <ons-button modifier="large" component="button/save-task">Analyze</ons-button>

</ons-page>
